.infoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.infoArea {
  width: 750px;
  padding: 50px 25px;
  border-radius: 12px;
  background-color: rgba(19, 16, 16, 0.5);
  position: relative;

  .location {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
  }

  .infoLeft {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .temp {
      font-size: 25px;
    }

    .icon {
      width: 75px;
    }
  }

  .informations {
    display: flex;
    justify-content: space-between;
  }

  .information {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;

    img {
      width: 35px;
    }

    svg {
      fill: #70bfff;
    }
  }

  .main {
    display: flex;
    align-items: center;
  }

  @media only screen and (max-width: 767px) {

    .information {
      width: calc(33.33% - 10px);
      margin-bottom: 10px;
      box-sizing: border-box;
    }
    .infoContainer {
      max-width: calc(100% - 50px);
    }
    
    .informations {
      flex-wrap: wrap;
    }
    width: 100%;
  }
}


