.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background: transparent;
  color: #fff;
  background-color: rgba(19, 16, 16, 0.5);
}
.inputContainer {
  position: relative;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50px;
  flex-direction: column;
  gap: 150px;
}
